.restaurant-header {
  width: 100%;
  text-align: center;
  padding: 24px 16px;
  color: white;
}

.restaurant-logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* border-radius: 50%; */
  /* border: 2px solid #ffffff30; */
  margin-bottom: 14px;
}

.restaurant-name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: gold;
}

.restaurant-subtitle {
  font-size: 15px;
  color: gold;
}
